<!DOCTYPE html>
<html>
    <head>
        <title>
            Solomon's blog
        </title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works finally </p>
        <header>
            <h1>
                My first blog post
            </h1>
            <h2>My journey into the world of tech</h2>
            <p>
                My name is Fajana Ayomide Solomon i'm a cs student 2nd year and 
                this is me documenting my journey with my first ever blog. I just 
                started with python development using django and it's been an 
                amazing experience so far 
                check out my live version of the blog at 
                <a href="https://solquite.pythonanywhere.com">The code Monarch</a>
            </p>
            <article>
                <time datetime="">Published: 17.06.2024, 17:52</time>
            </article>
        </header>
    </body>
</html>